<!DOCTYPE html>
<html>
  <head>
    <title>Netflix-orignal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/fd97d70e77.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "responsive", :media => "all" %>
  </head>

  <body>
  <div class="flash-container-x">
   <% if flash[:success]%>
          <div class="flash-success">
            <%= flash[:success] %>
          </div>
   <% end %>
  </div>
  <div class="flash-container">
   <% if flash[:notice]%>
          <div class="flash-not">
            <%= flash[:notice] %>
          </div>
   <% end %>
  </div>
    <%= yield %>

   <footer>
    <div class="footer-page">
      <%= link_to("TOP","/",class: "back-top")%>
    </div>
    <div class="creater">
     <p1>Creater`s SNS acount</p1><br>
      <%= link_to( "https://www.instagram.com/tmsk_1d/") do %>
          <span class="fab fa-instagram fa-2x"></span>
      <%end%>

      <%= link_to("https://twitter.com/tomotomo_1D") do %>
          <span class="fa fa-twitter fa-2x"></span>
      <%end%>
   
    </div>
   </footer>
   <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
